body {
  font-family: 'Macondo', cursive;
    background-color: lightblue;
  }
  
  h1, h2 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: 'Akshar', sans-serif;
    font-size: 20px;
  }
  div {
      display: inline-block;
  }
  .one-third {
      width: 33%;
  }